# Virtual environment folder
/.venv/

# All python compile cache folders
__pycache__

# All model files for Ollama modification
/*.modelfile

# Environment files
.env

# Audio file generated
*.wav
*.mp3
